*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.header {
     
     width: 100%;
     background-color:burlywood;
      
    }
    .image{
     height: 8rem;
     max-width: 20%;
     border: solid;
     border-color: cadetblue;
     
     
    }

.setheader h2 {
    color: blue;
    display: inline;
}
.container{
background-color: cornflowerblue;
height: 200px;
max-width: 100%;
}
.searchcity {
float:right;
margin-right: 40%;    
margin-top: 5%;
}
.searchcity input{
    height: 35.5px;
}
.weather{
    height: 13rem;
    width: 12rem;
    margin-top: 10rem;
    margin-right: 30rem;
    float:right;
    color: crimson;
    text-align: center;
    
}
.weather h5 {
    margin-top: -3rem;
    
}
.navbar{
    border: solid;
   margin-top:5rem;
    height: 5rem;
    background-color: darkgreen;
 }
 .topattraction{
   
    margin-top: 10rem;
    margin-right: 20rem;
    float:left;
    color: crimson;
    text-align: center;
   
    margin:2rem;
    
}
.topattraction2{
    text-align: center;
    margin-top:2px;
    
    color: crimson;
    text-align: center;
  

}
.topattraction3{
    text-align: center;
    margin-top:2px;
    
    color: crimson;
    text-align: center;
  

}

.title{
    margin-top: -2rem;
}
.title1{
    margin-top: -4.3rem;
    
}
 .card1{
     
    margin-top: 30rem;
    margin-left: 8rem;
    height: 20rem;
    width: 15rem;
    border-radius: 50px;
   
 }
 .card2{
    
    margin-top: -20rem;
    margin-left: 30rem;
    height: 20rem;
    width: 15rem;
    border-radius: 50px;
   
 }
 .card3{
     
    margin-top: -20rem;
    margin-left: 50rem;
    height: 20rem;
    width: 15rem;
    border-radius: 50px;
   
 }

 .attraction-image{
    background-color: darkgreen;
 }
 .attraction-image2{
    background-color: darkgreen;
 }
 .attraction-image3{
    background-color: darkgreen;
 }
 
 
