*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.header {
     
     width: 100%;
     background-color:burlywood;
      
    }
    .image{
     height: 8rem;
     max-width: 20%;
     border: solid;
     border-color: cadetblue;
     
     
    }

.setheader h2 {
    color: blue;
    display: inline;
}
.container{
background-color: cornflowerblue;
height: 200px;
max-width: 100%;
}
.searchcity {
float:right;
margin-right: 40%;    
margin-top: 5%;
}
.searchcity input{
    height: 35.5px;
}
.weather{
    border: solid;
    margin-top: 10rem;
    margin-right: 30rem;
    float:right;
    color: crimson;
    text-align: center;
}
.weather h5 {
    margin-top: -2rem;
    
}
.navbar{
    border: solid;
   margin-top: 30rem;
    height: 5rem;
    background-color: darkgreen;
 
 
    
}
 
